# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Dataset
data/raw/
data/processed/

# Huggingface cache
.cache/
.huggingface/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
